    // font-family: 'Roboto', sans-serif;

%lato-fw400{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #383838;
}
%lato-fw400-fz18{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #9C9C9C;
}
%lato-fw500-fz18{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #9C9C9C;
}
%lato-fw500-fz24{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #383838;
}
%lato-fw600{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: #fff;
    font-style: normal;
}